@model ABCOnlinePublications.ViewModels.SectionViewModels

@{
    ViewData["Title"] = Model.Title;
}

<div>
    <h1 class="text-center">@Model.Title</h1>
    @if (Model.Content.Any())
    {
        @foreach (var paragraph in Model.Content)
        {
            <p>@paragraph</p>
        }
    }
</div>
<div>
    <h2>Navigation</h2>
    @foreach (var navItem in Model.Navigation)
    {
        <a href="/Home/Index?section=@navItem.Section">@navItem.Text</a><br />
    }
</div>