@model ABCOnlinePublications.ViewModels.SectionNotFoundViewModels

@{
    ViewData["Title"] = "Section Not Found";
}

<p class="text-center">The requested section "<b>@Model.RequestedSection</b>" could not be found.</p>